

@font-face 
{
  font-family: INFO56_0;
  src: url("../../fonts/INFO56_0.ttf");
}


@font-face 
{
  font-family: computer_pixel-7;
  src: url("../../fonts/computer_pixel-7.ttf");
}

html
{
  font-family: computer_pixel-7;
  color: #fff;  
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  background-image:url('../../images/bg.png');
 transition: 1s background-image ease-out;
}
input,textarea{
    font-size:40px;
    padding:5px;
    color: green;
    font-family: INFO56_0;

}

button
{
  background-color: #505050;
  position: absolute;
  top:491px;
  left: 163px;
  height: 70px;
  width: 120px;
  
  font-family: computer_pixel-7  ;
  font-size: 50px;
  color: #fff;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

/*	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	

	-webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
*/	
}

#langLevel{
top:400px;
left:0px;

}
/*flex-boxes*/

.item {

}
/************/

/*PANELS*/

#left-panel
{
  margin:20px;
  width: 202px;
  height: 423px;
  position: relative;
  background-image: url("../../images/bg2.png");
  background-repeat: no-repeat;
  border:5px solid gray;
  
}

#middle-panel{

    margin-left:360px;
    min-width:700px;
padding-right: 0px;
padding-left: 100px;
}

span.withTitle {
    font-size: 30px;
}

h1
{
  text-align: center;
  font-family: computer_pixel-7;
  font-size: 80px;
  padding-bottom: 0px;
  padding-top: 20px;
  font-weight: normal;
  margin-bottom:0px ;
  margin-top:0px;
}




#alt-title{
  opacity:0;
    
}
#title:hover{
}


{
  font-size: 14px;
}


#output{
    top:-39px;
    height:0px;
    line-height:0px;
    position:relative;
    text-align: center;
    color:#730a0a;
    margin-left: 0px auto;
    font-size: 85px;
 }
#output2
{
    position:relative;
    top:-7px;
    left:36px;
    font-family: INFO56_0;
    margin: 0px auto;
    margin-top: 16px;
    font-size: 39px;

}
#inputElements
{ opacity:0;
  position:absolute;
  bottom: 260px;
  left: 349px;
  width: 260px;
  height:50px;
  z-index: 100;

}


#mainText{
    position:absolute;
    top:3px;
    left: 450px;
    width: 800px;
}

#inputName{
margin:20px;
position:relative;
display:inline;
left:22px;
top:80px;
width: 300px;
height:50px;
background:rgba(5,5,5,.85);
  opacity:1;
}

#inputLabel{
margin:20px;
position:relative;
    display:inline;
    width:300px;
    text-align:center;
    font-family:INFO56_0;
    font-size:40px;
    top:110px;
    left:24px;

  opacity:1;
}

#ainmBtn{
margin:20px;
position:relative;
display:inline;
background-color: #207720;
color:#ffe959;
font-size:46;
text-align:center;
top:42px;
left:216px;

  opacity:1;

}


img
{
  margin: 0px auto;
  display: block;
  margin-bottom: 20px;
}
/*BUTTONS*/
#fwdBtn{
    animation: delay-fade-in 3s;
	

    }




#bckBtn{
    display:none;
    left:80px;
}

#play {
  display:none;
  background-color: #207720;
  top:460px;
  left: 176px;
	
}


#btnLvL { 
  position:relative;
 display:none;
 top:150px;
  left:242px;
  height: 60px;
  width: 60px;
  border-radius: 60px;
 background-color: green;
}
#btnLvR {
    position:relative;
  display:none;
  top:150px;
  left: 556px;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  background-color:green;
}

#levelSelect{
display:none;
position:relative;
background-color: #207720;
color:#ffe959;
font-size:46;
text-align:center;
top:93px;
left:-307px;



}
#countyBtnLeft {
  position:relative;
  display:none;
  top:150px;
  left:-109px;
  height: 60px;
  width: 60px;
  border-radius: 60px;
 background-color: #034408;
 z-index:75;
}
#countyBtnRight {
    position:relative;
  display:none;
  top:150px;
  left:482px;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  background-color:#034408;
  z-index:75;
}

#tidyBox1{
  position:absolute;  
  background-color:rgba(255,255,255,0.25);
  width:400px;
  border: 5px solid blue;
  border-radius: 20px;
  height:300px;
  left:604px;
  top:116px;
 transition: 1s background-image ease-out;
 
}
#bearla{
    position:absolute;
    color:black;
    font-size: 36px;
    text-align:center;
    top: 134px;
    left:-41px;
    width: 115px;
    z-index:32;
    line-height: 27px;
    word-spacing:-1px;
}
/*PLAYER INPUT ELEMENTS*/

#portrait {
    position:absolute;
    margin:0px;
    padding:0px;
    width:111px;
    height:156px;
    left:141px;
    top:-32px;
    background-image:url("../../images/imreoir.gif");

  opacity:1;
}
/*
#pName{
    display:none;
    position:absolute;
    color:green;
    font-size: 46px;
    text-align:center;
    top: 334px;
    left:479px;
    width: 333px;
    z-index:32;
    background:black;
    border: 5px solid gray;
}
*/

#joinTeam{
  display:none;
  background-color: #207720;
  top:220px;
  left:158px;
	
}

#ainmBtn:hover{
    background-color:#ff6800;
}


#levelSelect:hover{
    background-color:#ff6800;
}

#joinTeam:hover{
    background-color:#ff6800;
}
::placeholder{
   color:green;
  font-size: 35px; 
 font-family: INFO56_0;
 text-align:center;
}



#location{
    position: absolute;
    bottom:158px;
    left: 22px;
    opacity: 0;
}
#shield-holder{
    position:absolute;
    width:257px;
    height:420px;
    background-image:url("../../images/dealbh.png");
    bottom: 6px;
    left:-71px;
    z-index:10;
}

#imreoirWLv{
    position:relative;
    top:-10px;
    left:369px;
    height:175px;
    width:175px;
    z-index:-1;
    background-image:url("../../images/imreoir5.png");
}
#countyMain {
    position:absolute;
    top:139px;
    left:638px;
    background-image:url("../../images/countyMain.png");
    opacity:1;
    width:403px;
    height:306px;
}
#badge{
    position:absolute;
    top:90px;
    left:158px;
    background-image:url("../../images/badges.png");
    z-index: 20;
    opacity:1;
    width:80px;
    height:80px;
}

#contae{
    position:relative;
    text-align: left;
    width: 601px;
    left:252px;
    padding-left:0px; 
    font-family:INFO56_0;
    bottom: -267px;
    font-size:40px;
}

.item{
}





 .fadeText{
animation: fade-in 2s;
 } 


@keyframes delay-fade-in{
    0% {opacity:0;}
    75%{opacity:0;}
    100%{opacity:1;}

}

@keyframes fade-in{
0% {opacity:0;}

100% {opacity:1;} 
}
@keyframes fade-out{
0%{opacity:1;}

 100%{opacity:0;} 

}

@keyframes slide-button-right{
    0%{left:163px;}
    100%{left: 229px;}
    
}
@keyframes slide-button-left{
    0%{left:203px;}
    100%{left: 163px;}
} 
@keyframes county-select-mode{
0%{opacity: 0;}
100%{opacity:1;}
}

@keyframes dim {
0%{opacity: 1;}
100%{opacity:0.25;}
