* {
    margin: 0 0;
    padding: 0 0;
}
#viewport {
    background-color: blue;
    opacity: 0.1;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 10;
    width: 10px;
    height: 10px;
}
.tile {
    width:32px; 
    height:32px;
    background-image: url("images/tileset2.png");
    position: absolute;

}
#grid {
    position: absolute;
}

#player{
    position: absolute;            
    left: 25%;
    top: 25%;
    height: 49px;
    width: 32px;
    background-image: url("images/player.png");
}

